<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="ui-g align-center">
  <div class="ui-g-12 ui-md-12">
    <div class="ui-g-12">
      <p>User Email</p>
      <input type="text" pInputText [(ngModel)]="email"/>
    </div>
  </div>
  <div class="ui-g-12 ui-md-12">
    <div class="ui-g-12">
      <p>URL</p>
        <input type="text" pInputText [(ngModel)]="url"/>
      <p>
        <p-button label="Submit" (onClick)="submit()" ></p-button>
      </p>
    </div>
  </div>
  <div class="ui-g-12 ui-md-12">
    <div class="ui-g-12">
      <p>Short URL</p>
      <input type="text" size="30" [disabled]="true" pInputText [(ngModel)]="clickURL"/>
    </div>
    <div class="ui-g-12">
      <p>URL for tracking statistics(redirects to product)</p>
     <input type="text" size="30" [disabled]="true" pInputText [(ngModel)]="shortURL"/>
    </div>
  </div>
</div>

